body {
  background-color: #f13134;
}

p {
  margin: 0px 25px;
}

.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  width: 50vmin;
  min-width: 180px;
  max-width: 360px;
  margin: 20px 0px;
}

.App-header {
  /* background-color: #282c34; */
  background: linear-gradient(to bottom, #ee5457, #f13134);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-button {
  background: #fff;
  border-color: #fff;
  border-radius: 30px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
  color: #ef4649;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  /* height: 50px; */
  letter-spacing: 1px;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .2s;
  /* width: 180px; */
  text-transform: uppercase;
  outline: none;
}

.App-button:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
}

.App-button:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
}

.App-button:disabled {
  color: rgba(0,0,0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
}

.ImageWrapper {
  height: 55vmin;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  overflow: hidden;
}

.ImageWrapper .Image {
  max-width: 100%;
  max-height: 100%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
